.disclaimer {
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    margin-top: 10rem;
  }
  

  @media only screen and (max-width:768px) {
    .disclaimer{
        margin-top: 5rem;
    }
  }