.terms {
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.8;
    margin-top: 10rem;
  }
  
  .terms h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .terms h2 {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .terms p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  
  .terms ul {
    margin-left: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .terms a {
    color: #007bff;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  


  @media only screen and (max-width:768px) {
    .terms{
        margin-top: 5rem;
    }
  }